.chart {
  background: white;
  border: 1px solid black;
  min-height: 350px;
  min-width: 200px;
}
.bar {
  height: 30px;
  fill: #fff;
  stroke: black;
  stroke-width: 2;
}

.bar:hover {
  fill: lightblue;

}
.barOn {
  fill: lightblue;

}
