<div class="content-box">
  <h1>
    {{title}}
  </h1>
  <div class="window-10-box clearfix">
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/scales']"><img src="/assets/images/Scale.png"><br/>Scales</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/data']"><img src="/assets/images/data.png"><br/>Data</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/selections']"><img src="/assets/images/selection.png"><br/>Selections & Create DOM</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/visualization']"><img src="/assets/images/Visualization.png"><br/>Visualization</a></div>
  </div>
  <div class="window-10-box clearfix">
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/axes']"><img src="/assets/images/axes-icon.png"><br/>Axes</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/scatter']"><img src="/assets/images/Scatter.png"><br/>Scatter</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/line']"><img src="/assets/images/line-chart.png"><br/>Line Chart</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/area']"><img src="/assets/images/area-chart.png"><br/>Area Chart</a></div>
  </div>
  <div class="window-10-box clearfix">
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/animate']"><img src="/assets/images/animated.png"><br/>Animate </a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/transitions']"><img src="/assets/images/Transitions.png"><br/>Transitions</a></div>
    <div class="col-md-3 scale"><a routerLinkActive="active" [routerLink]="['/general']"><img src="/assets/images/General-Update-Pattern.png"><br/>General Update Pattern</a></div>
  </div>
  <div class="route-class">
  </div>
</div>
